# How to Install <p style="color:#83E74E;font-size:35px"><b>Pandas package</b></p> into <u><b>Jupyter Notebook</b></u> or any of the other <u>Python Packages</u>

In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\win10\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\win10\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\win10\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\win10\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\win10\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
import pandas as pd

In [8]:
dir(pd.Series)

['T',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__long__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_add_numeric_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_align_frame',
 '_align_series',
 '_arith_method',
 '_as_manager',
 '_binop',
 '_can_hold_na',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_from_arguments',
 '_construct_result',
 '_constructor',
 '_constructor_expanddim',
 '_convert',
 '_convert_dtypes',
 '_data',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_duplicated',
 '_find_valid_index',
 '_from_mgr',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_cleaned_column_resolvers',
 '_get_index_resolvers',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_get_values',
 '_get_values_tuple',
 '_get_with',
 '_gotitem',
 '_hidden_attrs',
 '_index',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_init_dict',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_cached',
 '_is_copy',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_ixs',
 '_logical_func',
 '_logical_method',
 '_map_values',
 '_maybe_update_cacher',
 '_memory_usage',
 '_metadata',
 '_min_count_stat_function',
 '_needs_reindex_multi',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_indexer',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_replace_single',
 '_repr_data_resource_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_labels',
 '_set_name',
 '_set_value',
 '_set_values',
 '_set_with',
 '_set_with_engine',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_stat_function',
 '_stat_function_ddof',
 '_take_with_is_copy',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'asfreq',
 'asof',
 'astype',
 'at',
 'at_time',
 'attrs',
 'autocorr',
 'axes',
 'backfill',
 'between',
 'between_time',
 'bfill',
 'bool',
 'cat',
 'clip',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'divmod',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dt',
 'dtype',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'explode',
 'factorize',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'ge',
 'get',
 'groupby',
 'gt',
 'hasnans',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'interpolate',
 'is_monotonic',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'items',
 'iteritems',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'mad',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'nbytes',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'radd',
 'rank',
 'ravel',
 'rdiv',
 'rdivmod',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'repeat',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'searchsorted',
 'sem',
 'set_axis',
 'set_flags',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'sparse',
 'squeeze',
 'std',
 'str',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_list',
 'to_markdown',
 'to_numpy',
 'to_period',
 'to_pickle',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'tolist',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unique',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'view',
 'where',
 'xs']

# Create a Series Object from a Python List

In [3]:
ice_cream = ["Chocolate", "Vanilla", "Strawbery", "Rum Raisen"]
s1 = pd.Series(ice_cream)
s1

0     Chocolate
1       Vanilla
2     Strawbery
3    Rum Raisen
dtype: object

In [6]:
s = [4,8,15,16,23,42]
pd.Series(s)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [5]:
fruits = ["Apple","Orange","Plum","Grape","Blueberry"]
Weekdays = ['Monday','Tuesday','Wednesday','Thursday','Friday']
pd.Series(data=fruits, index=Weekdays)

#pd.Series(fruits, Weekdays)
#pd.Series(data=fruits, index=Weekdays)
#pd.Series(fruits, index=Weekdays)

Monday           Apple
Tuesday         Orange
Wednesday         Plum
Thursday         Grape
Friday       Blueberry
dtype: object

In [7]:
"""pd.Series(fruits,Weekdays)"""

'pd.Series(fruits,Weekdays)'

In [2]:
s=[4,8,15,16,23,42]
pd.Series(s)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

# Create a Series Object from Dictionary

In [3]:
german_dict=pd.Series({'Cat':'Katze',
           'Snake':'Schlange',
            'Horse':'Pferd',
            'Dog': 'Hund',
            'Queue':'Schlange'})

In [4]:
german_dict

Cat         Katze
Snake    Schlange
Horse       Pferd
Dog          Hund
Queue    Schlange
dtype: object

In [11]:
german_dict.values

array(['Katze', 'Schlange', 'Pferd', 'Hund', 'Schlange'], dtype=object)

In [12]:
german_dict.index

Index(['Cat', 'Snake', 'Horse', 'Dog', 'Queue'], dtype='object')

In [17]:
german_dict['Cat']

'Katze'

In [6]:
print('Cat in german is called',german_dict['Cat'])

Cat in german is called Katze

# Import Series with the read_csv Method

In [6]:
df = pd.read_csv('Universities.csv')
type(df)

pandas.core.frame.DataFrame

In [7]:
df

            Univ   SAT  Top10  Accept  SFRatio  Expenses  GradRate
0          Brown  1310     89      22       13     22704        94
1        CalTech  1415    100      25        6     63575        81
2            CMU  1260     62      59        9     25026        72
3       Columbia  1310     76      24       12     31510        88
4        Cornell  1280     83      33       13     21864        90
5      Dartmouth  1340     89      23       10     32162        95
6           Duke  1315     90      30       12     31585        95
7     Georgetown  1255     74      24       12     20126        92
8        Harvard  1400     91      14       11     39525        97
9   JohnsHopkins  1305     75      44        7     58691        87
10           MIT  1380     94      30       10     34870        91
11  Northwestern  1260     85      39       11     28052        89
12     NotreDame  1255     81      42       13     15122        94
13     PennState  1081     38      54       18     10185        80
14     Princeton  1375     91      14        8     30220        95
15        Purdue  1005     28      90       19      9066        69
16      Stanford  1360     90      20       12     36450        93
17      TexasA&M  1075     49      67       25      8704        67
18    UCBerkeley  1240     95      40       17     15140        78
19      UChicago  1290     75      50       13     38380        87
20     UMichigan  1180     65      68       16     15470        85
21         UPenn  1285     80      36       11     27553        90
22           UVA  1225     77      44       14     13349        92
23    UWisconsin  1085     40      69       15     11857        71
24          Yale  1375     95      19       11     43514        96

In [24]:
univ = pd.read_csv('Universities.csv', usecols = ['Univ'], squeeze=True)
type(univ)
univ

0            Brown
1          CalTech
2              CMU
3         Columbia
4          Cornell
5        Dartmouth
6             Duke
7       Georgetown
8          Harvard
9     JohnsHopkins
10             MIT
11    Northwestern
12       NotreDame
13       PennState
14       Princeton
15          Purdue
16        Stanford
17        TexasA&M
18      UCBerkeley
19        UChicago
20       UMichigan
21           UPenn
22             UVA
23      UWisconsin
24            Yale
Name: Univ, dtype: object

In [12]:
type(univ)

pandas.core.frame.DataFrame

In [20]:
Univdataframexample = pd.read_csv('Universities.csv', usecols = ['Univ'])
print(Univdataframexample)
type(Univdataframexample)

            Univ
0          Brown
1        CalTech
2            CMU
3       Columbia
4        Cornell
5      Dartmouth
6           Duke
7     Georgetown
8        Harvard
9   JohnsHopkins
10           MIT
11  Northwestern
12     NotreDame
13     PennState
14     Princeton
15        Purdue
16      Stanford
17      TexasA&M
18    UCBerkeley
19      UChicago
20     UMichigan
21         UPenn
22           UVA
23    UWisconsin
24          Yale

pandas.core.frame.DataFrame

In [21]:
display(Univdataframexample)
type(Univdataframexample)

            Univ
0          Brown
1        CalTech
2            CMU
3       Columbia
4        Cornell
5      Dartmouth
6           Duke
7     Georgetown
8        Harvard
9   JohnsHopkins
10           MIT
11  Northwestern
12     NotreDame
13     PennState
14     Princeton
15        Purdue
16      Stanford
17      TexasA&M
18    UCBerkeley
19      UChicago
20     UMichigan
21         UPenn
22           UVA
23    UWisconsin
24          Yale

pandas.core.frame.DataFrame

In [26]:
anotherexample = pd.read_csv('Universities.csv', usecols = ['Expenses'],squeeze=False)
anotherexample

    Expenses
0      22704
1      63575
2      25026
3      31510
4      21864
5      32162
6      31585
7      20126
8      39525
9      58691
10     34870
11     28052
12     15122
13     10185
14     30220
15      9066
16     36450
17      8704
18     15140
19     38380
20     15470
21     27553
22     13349
23     11857
24     43514

# Intro to Attributes

In [33]:
german_dict

Cat         Katze
Snake    Schlange
Horse       Pferd
Dog          Hund
Queue    Schlange
dtype: object

In [34]:
german_dict.values

array(['Katze', 'Schlange', 'Pferd', 'Hund', 'Schlange'], dtype=object)

In [35]:
german_dict.index

Index(['Cat', 'Snake', 'Horse', 'Dog', 'Queue'], dtype='object')

In [36]:
german_dict.dtype

dtype('O')

In [38]:
german_dict.is_unique

False

In [39]:
univ.is_unique

True

In [40]:
univ.size

25

# Built-In Functions

## The .head() and .tail()  Methods

In [43]:
univ.head()

0       Brown
1     CalTech
2         CMU
3    Columbia
4     Cornell
Name: Univ, dtype: object

In [44]:
univ.head(7)

0        Brown
1      CalTech
2          CMU
3     Columbia
4      Cornell
5    Dartmouth
6         Duke
Name: Univ, dtype: object

In [45]:
univ.head(3)

0      Brown
1    CalTech
2        CMU
Name: Univ, dtype: object

In [46]:
univ.tail()

20     UMichigan
21         UPenn
22           UVA
23    UWisconsin
24          Yale
Name: Univ, dtype: object

In [47]:
univ.tail(10)

15        Purdue
16      Stanford
17      TexasA&M
18    UCBerkeley
19      UChicago
20     UMichigan
21         UPenn
22           UVA
23    UWisconsin
24          Yale
Name: Univ, dtype: object

## Sorting Method

In [10]:
german_dict

Cat         Katze
Snake    Schlange
Horse       Pferd
Dog          Hund
Queue    Schlange
dtype: object

In [23]:
german_dict.sort_index()

Cat         Katze
Dog          Hund
Horse       Pferd
Queue    Schlange
Snake    Schlange
dtype: object

In [16]:
german_dict.sort_index(ascending=True)

Cat         Katze
Dog          Hund
Horse       Pferd
Queue    Schlange
Snake    Schlange
dtype: object

In [19]:
german_dict.sort_index(ascending=False)

Snake    Schlange
Queue    Schlange
Horse       Pferd
Dog          Hund
Cat         Katze
dtype: object

In [21]:
german_dict.sort_values(ascending=True)

Dog          Hund
Cat         Katze
Horse       Pferd
Snake    Schlange
Queue    Schlange
dtype: object

In [22]:
german_dict.sort_values(ascending=False)

Snake    Schlange
Queue    Schlange
Horse       Pferd
Cat         Katze
Dog          Hund
dtype: object

## <p style="color:red;font-size:25px">Important notes</p>
### <p style='color:green'>1.Whenever You see an output of any code it means a duplicate has been created inplace of the orginal dataframe, series or dictionary whereas original has been unaffected </p>
### <p style='color:green'>2.But if you do not get any output by writting a code then the original dataframe, series or dictionary has been affected by the new code written for example check below two codes

In [24]:
german_dict.sort_values(inplace=True, ascending=False)

In [26]:
german_dict.sort_values()

Dog          Hund
Cat         Katze
Horse       Pferd
Snake    Schlange
Queue    Schlange
dtype: object

In [25]:
german_dict

Snake    Schlange
Queue    Schlange
Horse       Pferd
Cat         Katze
Dog          Hund
dtype: object

### <p style='color:green'>3.Another Example of above notes is that if you assign the values, index, dataframe, series or dictionary into new assigned Variable then the desired output will be stored into the new variable and output wont show up untill print, display or variable is coded

In [8]:
german_sorted = german_dict.sort_index()

In [9]:
german_sorted

Cat         Katze
Dog          Hund
Horse       Pferd
Queue    Schlange
Snake    Schlange
dtype: object

# <p style='color:blue'>Membership Test- in Keyword</p>

In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\win10\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\win10\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\win10\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\win10\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\win10\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [3]:
import pandas as pd

In [6]:
"Cat" in german_dict

True

In [10]:
"katze" in german_sorted

False

In [11]:
"cat" in german_dict

False

In [13]:
"Cat" in german_dict.values

False

In [14]:
'Cat' in german_dict.index

True

In [15]:
'Katze' in german_sorted.values

True

<p style='font-size:30px>Extract values by Index Position

# Extract Values by Index Position

In [16]:
univ = pd.read_csv("Universities.csv")

In [18]:
univ_extract = pd.read_csv("Universities.csv", usecols=["Univ"], squeeze=True)

In [20]:
univ_extract

0            Brown
1          CalTech
2              CMU
3         Columbia
4          Cornell
5        Dartmouth
6             Duke
7       Georgetown
8          Harvard
9     JohnsHopkins
10             MIT
11    Northwestern
12       NotreDame
13       PennState
14       Princeton
15          Purdue
16        Stanford
17        TexasA&M
18      UCBerkeley
19        UChicago
20       UMichigan
21           UPenn
22             UVA
23      UWisconsin
24            Yale
Name: Univ, dtype: object

In [22]:
univ_extract[1]

'CalTech'

In [24]:
univ_extract[[10,12,17]]

10          MIT
12    NotreDame
17     TexasA&M
Name: Univ, dtype: object

In [27]:
univ_extract[3:10]

3        Columbia
4         Cornell
5       Dartmouth
6            Duke
7      Georgetown
8         Harvard
9    JohnsHopkins
Name: Univ, dtype: object

In [28]:
univ_extract[0:24:2]

0          Brown
2            CMU
4        Cornell
6           Duke
8        Harvard
10           MIT
12     NotreDame
14     Princeton
16      Stanford
18    UCBerkeley
20     UMichigan
22           UVA
Name: Univ, dtype: object

In [29]:
univ_extract[::3]

0            Brown
3         Columbia
6             Duke
9     JohnsHopkins
12       NotreDame
15          Purdue
18      UCBerkeley
21           UPenn
24            Yale
Name: Univ, dtype: object

In [30]:
univ_extract[:10]

0           Brown
1         CalTech
2             CMU
3        Columbia
4         Cornell
5       Dartmouth
6            Duke
7      Georgetown
8         Harvard
9    JohnsHopkins
Name: Univ, dtype: object

In [31]:
univ_extract[10:]

10             MIT
11    Northwestern
12       NotreDame
13       PennState
14       Princeton
15          Purdue
16        Stanford
17        TexasA&M
18      UCBerkeley
19        UChicago
20       UMichigan
21           UPenn
22             UVA
23      UWisconsin
24            Yale
Name: Univ, dtype: object

## 1. Extract values by index Label

In [34]:
german_sorted['Cat']

'Katze'

# The .get() method on a series

In [40]:
german_dict.get(key=['Cat'])

Cat    Katze
dtype: object

In [41]:
german_dict.get(key=['Cat','Dog'])

Cat    Katze
Dog     Hund
dtype: object

In [44]:
german_dict.get(key='Otter')

In [43]:
german_dict.get(key='Otter', default='Not found')

'Not found'

In [6]:
german_dict.get('Katze','Not Found')

'Not Found'

## Mathematics methods on series datatype objects

In [19]:
ser = pd.read_csv('Salaries.csv')

In [20]:
ser

         rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
..        ...        ...  ...      ...     ...     ...
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

[78 rows x 6 columns]

In [22]:
ser_salary = pd.read_csv('Salaries.csv', usecols = ["salary"], squeeze=True)

In [23]:
ser_salary.head(13)

0     186960
1      93000
2     110515
3     131205
4     104800
5     122400
6      81285
7     126300
8      94350
9      57800
10    128250
11    134778
12     88000
Name: salary, dtype: int64

In [ ]:
ser_sample = pd.series([10,20,30])

In [49]:
ser_salary.count()

78

In [50]:
ser_salary.sum()

8425855

In [51]:
ser_salary.mean()

108023.78205128205

In [52]:
ser_salary.std()

28293.661022264165

In [53]:
ser_salary.min()

57800

In [54]:
ser_salary.max()

186960

In [55]:
ser_salary.median()

104671.0

In [56]:
ser_salary.mode()

0    92000
dtype: int64

In [57]:
ser_salary.describe()

count        78.000000
mean     108023.782051
std       28293.661022
min       57800.000000
25%       88612.500000
50%      104671.000000
75%      126774.750000
max      186960.000000
Name: salary, dtype: float64

## The .idmax() and .idmax() Methods

In [58]:
ser.max()

rank            Prof
discipline         B
phd               56
service           51
sex             Male
salary        186960
dtype: object

In [60]:
ser_salary.max()

186960

In [61]:
ser.min()

rank          AssocProf
discipline            A
phd                   1
service               0
sex              Female
salary            57800
dtype: object

In [63]:
ser_salary.idxmax()

0

In [64]:
ser_salary.idxmin()

9

# The .value_counts() Method

In [6]:
jobs = pd.read_csv("Salaries.csv", usecols = ['rank'], squeeze=True)

In [5]:
import pandas as pd

In [7]:
jobs

0          Prof
1          Prof
2          Prof
3          Prof
4          Prof
        ...
73         Prof
74    AssocProf
75         Prof
76         Prof
77         Prof
Name: rank, Length: 78, dtype: object

In [8]:
 jobs.count()

78

In [9]:
jobs.value_counts()

Prof         46
AsstProf     19
AssocProf    13
Name: rank, dtype: int64

In [10]:
jobs.value_counts(ascending=True)

AssocProf    13
AsstProf     19
Prof         46
Name: rank, dtype: int64

# The .apply() Method

In [26]:
def perfrom(number):
    if number < 60000:
        return "Ok"
    elif number >= 60000 and number <= 120000:
        return "Satisfactory"
    else:
        return "Excellent"

In [21]:
ser.head()

   rank discipline  phd  service   sex  salary
0  Prof          B   56       49  Male  186960
1  Prof          A   12        6  Male   93000
2  Prof          A   23       20  Male  110515
3  Prof          A   40       31  Male  131205
4  Prof          B   20       18  Male  104800

In [24]:
ser_salary.head()

0    186960
1     93000
2    110515
3    131205
4    104800
Name: salary, dtype: int64

In [28]:
ser_salary.apply(perfrom).head()

0       Excellent
1    Satisfactory
2    Satisfactory
3       Excellent
4    Satisfactory
Name: salary, dtype: object

In [30]:
ser_salary.apply(perfrom).tail()

73    Satisfactory
74    Satisfactory
75       Excellent
76    Satisfactory
77    Satisfactory
Name: salary, dtype: object

In [32]:
def performance(numbers):
    if numbers > 60000:
        return 'Ok'
    elif numbers [60000:120000]:
        return "Satisfactory"
    else:
        return "Excellent!"

In [3]:
ser_salary.apply(performance).tail()

In [ ]:
ser.apply(lambda sal : sal + 0.15*sal)